* {
  font-family: "Poppins";
}

.contact {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 100px;
}

.contact-heading {
  display: flex;
  justify-content: center;
  margin: 80px 0 80px 0;
  text-align: center;
  font-family: "Abhaya Libre", serif;
}

.contact-heading h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 45px;
}

.contact-experts-description {
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact-experts-description p {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
}

.contact-experts-description-heading {
  font-size: larger;
  font-weight: 700;
  text-decoration: underline;
}

.experts-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.expert-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expert-details p {
  font-weight: bold;
}
.experts-cards-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.experts-cards-bottom {
  display: flex;
  justify-content: space-around;
}

.detailed-expert-card {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  min-width: 250px;
  max-height: 400px;
  text-overflow: ellipsis;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fefae0;
  /* justify-content: center; */
}

.blogPage-card-description p {
  font-size: 15px;
  color: grey;
  line-height: 18px;
  margin-bottom: 5px;
}

.expert-icons li {
  list-style-type: none;
}

.expert-img {
  /* border-radius: 10px; */
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.contact-ending {
  text-align: center;
  margin: 80px 0 80px 0;
}

html {
  font-family: "Montserrat", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

.contact-form {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  background-color: #fefae0;
}

form {
  padding: 37.5px;
}

h1 {
  color: #474544;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 20px 20px 0 20px;
  text-decoration: underline;
  max-width: 500px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.message-text-area {
  background-color: #faf4c8;
  padding: 10px 15px;
}

.name {
  float: left;
  width: 45%;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #7c9725;
  color: white;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 1070px) {
  .experts-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .experts-cards-top,
  .experts-cards-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .contact-us-form {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .contact-us-form {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
