.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
}

* {
  font-family: "Poppins";
}

.home-hero-container {
  max-width: 1200px;
  padding: 80px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 19.9px;
}

.home-hero-title {
  margin-top: 100px;
  background-color: #fefae0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-hero-paragraph {
  max-width: 450px;
}

.home-hero-paragraph h1 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 45px;
}

.home-hero-paragraph p {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(70, 70, 70);
}

.home-btn {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
  max-width: 200px;
  white-space: nowrap;
  border: 1px solid #6a6666;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15);
}

.home-btn a {
  text-decoration: none;
}

.home-btn:hover {
  background-color: #7a7979;
  color: white;
}

.home-btn:active {
  background-color: #6a6666;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.home-hero-image {
  max-width: 500px;
  width: 100%;
}

.hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 80px;
}

.home-hero-image {
  max-width: 500px;
  width: 100%;
}

.home-mission {
  display: flex;
  color: grey;
  justify-content: center;
  width: 100%;
}
.home-mission-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px 0;
  max-width: 1200px;
  padding: 80px 100px;
}
.home-mission h6 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 5.5px;
}

.home-mission h1 {
  text-align: center;
  line-height: 40px;
}

.home-blogs {
  background-color: #fefae0;
  margin: 50px 0 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-blogs-container {
  max-width: 1200px;
  padding: 80px 60px;
}

.home-blog-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.home-blog-title h1 {
  font-size: 70 px;
}

.home-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-card-description {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 250px;
  max-height: 400px;
  text-overflow: ellipsis;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-card-description h4 {
  margin-bottom: 7px;
}

.blog-card-description p {
  font-size: 15px;
  color: grey;
  line-height: 18px;
  margin-bottom: 5px;
}

.blog-card-img {
  /* border-radius: 10px; */
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card-content {
  padding: 16px;
}

.home-check-symptoms {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px 0 60px 0;
}

.home-check-symptoms h1 {
  margin-bottom: 15px;
  color: rgb(106, 105, 105);
  font-size: 30px;
}
.home-check-symptoms h5 {
  margin-bottom: 15px;
  color: grey;
  font-weight: 600;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .home-hero-title {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .hero-image {
    margin-top: 10px;
  }
  .home-blogs {
    display: flex;
    flex-direction: column;
  }
}
